@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(221, 243, 189);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(74, 117, 10);
}

#principal {
    text-align: center;
    background-color: rgb(74, 117, 10);
    color: white;
}

h2 {
    color: rgb(118, 167, 46);
}

